body {
    padding: 0px;
}

nav {
    background-color: rgba(255, 255, 255, 0);
}

/*===---------------------- MAIN BOARD -----------------------===*/
#main-board {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: yellow;
}

#main-row {
    height: 100%;
    background-color: grey;
}

#left-board {
    height: 100%;
    padding: 0px;
    background-color: red;
}

#main-canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0);
}

#select-canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0);
}

#back-canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: white;
}





#add-panel {
    position: absolute;
    width: 80%;
    height: 40px;
    left: 10%;

    border: solid 1px rgb(150, 150, 150);
    border-radius: 5px;

    background-color: white;
    box-shadow: 0px 0px 5px #888888;
}

#add-panel #main-node-npt {
    height: 28px;
    margin-top: 6px;
    border: solid 1px rgb(150, 150, 150);
    border-radius: 5px;
    padding: 0px;
    text-align: center;
}

#add-panel #adj-nodes-npt {
    height: 28px;
    margin-top: 6px;
    border: solid 1px rgb(150, 150, 150);
    border-radius: 5px;
    padding: 5px;
}

#add-panel #add-btn {
    height: 28px;
    line-height: 28px;
    margin-top: 6px;
    border: solid 1px rgb(150, 150, 150);
    border-radius: 5px;

    font-family: "Impact", "Britannic", "Arial Rounded MT";
    color: grey;
    text-align: center;

    padding: 0px;
}

#data-board .row {
    min-height: 30px;
    padding: 0 5px;
    font-family: "Impact", "Britannic", "Arial Rounded MT";
}

#data-board .row:hover {
    background-color: rgb(225, 225, 225);
}

#data-board .row span:not(:first-child) {
    height: 24px;
    line-height: 24px;
    width: 24px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 5px;
    border-radius: 12px;

    background-color: rgb(180, 180, 180);
    color: white;
    text-align: center;
    display: inline-block;

    cursor: pointer;
}

#data-board .row span:first-child {
    height: 24px;
    line-height: 24px;
    width: 24px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 5px;

    background-color: rgba(255, 255, 255, 0);
    font-weight: bold;
    color: white;
    text-align: center;
    display: inline-block;

    cursor: default;
}

#data-board .row span:last-child {
    height: 24px;
    line-height: 24px;
    width: 24px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 5px;

    background-color: rgba(255, 255, 255, 0);
    font-weight: bold;
    color: white;
    text-align: center;
    display: inline-block;
}

#data-board .tmp-npt input {
    width: 90%;
    height: 90%;
    margin: 5%; 
    border-color: rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
}

/*===---------------------- DASH BOARD -----------------------===*/
#dash-board {
    position: fixed;
    width: 600px;
    height: 400px;
    bottom: 10%;
    left: 10%;
    background-color: yellow;
}

#text-board {
    margin-left: 5%;
    width: 90%;
    height: 100px;
}

#console-board {
    margin-left: 5%;
    width: 90%;
    height: 100px;
}
